{% extends "base.html" %}
{% block title %}My Profile{% endblock %}
    
{% block content %}
	<aside id="profile">
    
    	<!--Profile Picture goes here-->
    	<div id="blurb">
    	<h2>Name Goes Here</h2>
        <p>Blurb about the user</p>
        </div>
	</aside>

	<div id="listies">
		<h1>Name of Listie</h1>
        <ul id= "lists">
            {% for list in one_lists %}
            <li><a href="{{list.list_url}}"><img src="{{list.default_image}}" width="150px" height="150px" style="margin-left:0"></a></li>
            {% endfor %}
        </ul>
        
	</div>
    
    <div id="options">
        <a id="newitem" href="#"><h2>New Item</h2></a>
        <h2>Add Collaborators</h2>
        </div>
{% endblock %}

{% block javascript %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
<script src="{{ url_for('static', filename='modal.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    // Wait until the DOM has loaded before querying the document
    $(document).ready(function(){

        var text = '<form action="http://lit-ravine-8874.herokuapp.com/list/NTE2MGZhOTFhNDZmMDAwMDA3OTkzY2E2/new_item" name="addList" method="POST">\
                    Add Item:<br>\
                    Amazon Link: <input type="text" name="link" id="amazonlink"><br>\
                    Name: <input type="text" name="name"><br>\
                    Image URL: <input type="text" name="type"><br>\
                    Notes: <input type="text" name="notes"><br>\
                    <input type="submit" value="Submit">\
                    </form>';

        $('a#newitem').click(function(e){
            modal.open({content: text});
            e.preventDefault();
            });
        });

        $('#amazonlink').blur(function () {
            var dat = $(this).serialize();
            $.post({
               url: "/product_parse",
               data: dat,
               success: function(data, textStatus, jqXHR){
                    alert(data);
               }
            });
        });
</script>
{% endblock %}  

