<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to Listie!</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
<!--tab script-->
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js'></script>
<script src="{{ url_for('static', filename='tabbedContent.js') }}" type="text/javascript"></script>
<!--end tab script-->
<meta name="viewport" content="width=device-width">
</head>

<body>
<div id="container">
  <header> <img src="{{ url_for('static', filename='images/logo.png') }}" />
    <input type="button" id="signout" name="signout" value="SIGN OUT" />
  </header>
  <aside>
    <div class='tabbed_content'>
      <div class='tabs'>
        <div class='moving_bg'> &nbsp; </div>
        <span class='tab_item'> LOG IN </span> <span class='tab_item'> SIGN UP </span> </div>
      <div class='slide_content'>
        <div class='tabslider'>
          <ul>
            <li>
              <form id="login" action="http://lit-ravine-8874.herokuapp.com/login" method="POST">
                <label for="email" class="contentlabel">Email</label>
                <input id="email" type="text" name="username"/>
                <label for="password" class="contentlabel">Password</label>
                <input id="password" type="text" name="password"/>
                <input type="submit" id="submitb" name="submitb" value="LOG IN" />
              </form>
            </li>
          </ul>
          <ul>
            <li>
              <form id="signup" action="http://lit-ravine-8874.herokuapp.com/register" method="POST">
                <label for="user" class="contentlabel">Full Name</label>
                <input id="user" type="text" name="user"/>
                <label for="email" class="contentlabel">Email</label>
                <input id="email" type="text" name="email"/>
                <input id="uname" type="text" name="uname"/>
                <label for="cpassword" class="contentlabel">Create a Password</label>
                <input id="cpassword" type="text" name="cpassword"/>
                <input type="button" id="submitb" name="submitb" value="GET STARTED" />
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </aside>
  <div id="about">
    <h1>About</h1>
    <p>Deserunt vinyl labore minim, truffaut typewriter selvage disrupt cred duis commodo. Disrupt helvetica deep v, est blue bottle PBR pour-over banksy laboris twee velit. American apparel cupidatat 90's dolor next level. Pour-over tattooed umami echo park neutra tonx. Lomo before they sold out voluptate, occaecat velit literally eu ennui disrupt est biodiesel. Cardigan fanny pack banh mi vero adipisicing brunch. Deep v adipisicing fingerstache church-key single-origin coffee incididunt magna truffaut.</p>
  </div>
  <footer> </footer>
</div>
</body>
</html>
