{% extends "base.html" %}
{% block title %}Entries{% endblock %}
<meta name="viewport" content="width=device-width"> 

    {% block content %}
	<aside id="profile">
    
    	<!--Profile Picture goes here-->
    	<div id="blurb">
    	<h2>{{username.fullname}}</h2>
        <p>Blurb about the user</p>
        </div>
	</aside>
    
    	<div class="listies">
    		<h1>My Listies</h1>
            <ul id= "lists">
                {% for list in lists %}
                <li><a href="{{list.list_url}}"><img src="{{list.default_image}}" width="150px" height="150px" style="margin-left:0"></a></li>
                {% endfor %}
            </ul>
            	
		</div>

        {% if clists is defined %}
        <div class="listies">
            <h1>Listies Shared With Me</h1>
            <ul id="lists">
                {% for l in clists %}
                <li><a href="{{l.list_url}}"><img src="{{l.default_image}}" width="150px" height="150px" style="margin-left:0"</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        
        <div id="options">
            <a id="newlistie" href="#"><h2>New Listie</h2></a>
            <!--<h2>Edit a Listie</h2>
            <h2>Delete a Listie</h2>-->
            </div>
        {% endblock %}
        {% block javascript %}
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
        <script src="{{ url_for('static', filename='modal.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
                    // Wait until the DOM has loaded before querying the document
            $(document).ready(function(){

                var text = '<form action="http://lit-ravine-8874.herokuapp.com/new_list" name="addList" method="POST">Add List <br>Name: <input type="text"\ name="name"><br>Type: <input type="text" name="type"><br><input type="submit" value="Submit"></form>';

                $('a#newlistie').click(function(e){
                    modal.open({content: text});
                    e.preventDefault();
                });
            });
        </script>
        {% endblock %}    


