<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Entries</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='modal.js') }}" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
<meta name="viewport" content="width=device-width"> 

</head>

<body>
<div id="container">
    
		<header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" />

        <input type="button" id="signout" name="signout" value="Sign Out" />
        </header>
    
    	<aside id="profile">
        
        	<!--Profile Picture goes here-->
        	<div id="blurb">
        	<h2>Name Goes Here</h2>
            <p>Blurb about the user</p>
            </div>
    	</aside>
    
    	<div id="listies">
    		<h1>Name of Listie</h1>
            <ul id= "lists">
                {% for list in lists %}
                <li><img src="{{list.default_image}}" width="150px" height="150px" style="margin-left:0"></li>
                {% endfor %}
            </ul>
            	
		</div>
        
        <div id="options">
            <a id="howdy" href="#"><h2>New Listie</h2></a>
            <!--                        <form action="http://lit-ravine-8874.herokuapp.com/new_list" name="addList" method="POST">
                        Add List: <br>
                        Name: <input type="text" name="name"><br>
                        Type: <input type="text" name="type"><br>
                        <input type="submit" value="Submit">
                        </form>-->
            <!--<h2>Edit a Listie</h2>
            <h2>Delete a Listie</h2>-->
            </div>
            
        <footer>
        </footer>
        
	</div>
</body>
</html>
